body{
	background-color:white;
}

#ProfileName{
font-size:19px;	
}

.AlternateRow{
	color:pink;
}

p{
color:green;	
}

div p{
	color:blue;
}


div > p{
	color:red;
}





